# где достать MANGALIB_TOKEN:
#   - откройте mangalib.me в вашем браузере
#   - откройте devtools (F12 или fn+F12)
#   - перейдите во вкладку Network (Сеть), нажмите на фильтр Fetch/XHR
#   - обновите страницу и найдите любой запрос к апи (обычно к api.cdnlibs.org)
#   - найдите request headers и скопируйте значение заголовка Authorization без "Bearer " 
#.    (начинается с "eyJ...")
MANGALIB_TOKEN=